    <div id="main-banner">
      <div class="slider">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag 'slide1.jpg' %>
            </div>

            <div class="item">
              <%= image_tag 'slide2.jpg' %>
            </div>

            <div class="item">
              <%= image_tag 'slide3.jpg' %>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div><!-- End .slider -->
    </div> <!-- End #main-banner -->

    <div id="saleoff-new">
      <ul>
        <li><%= link_to image_tag('iphone5cu.jpg'), root_path %></li>
        <li><%= link_to image_tag('tragop.jpg'), root_path %></li>
      </ul>
    </div><!-- End #sale-new -->

    <div class="smartphone-brand">
      <div class="title-brand">
        <span class="top-smartphone-brand"></span>
        <ul>
          <% Distribute.all.where(category_id: 1).limit(5).each do |distribute| %>
            <li><%= link_to distribute.name, distribute.path %></li>
          <% end %>
        </ul>
      </div><!-- End .title-brand -->

      <div class="wrap bg-grey bg-h-lg">
        <% Product.all.where(categories_id: 1).limit(10).each do |p| %>
            <article class="products">
              <div class="small-label"></div>
              <span class="cl-both"></span>
              <div>
                <%= link_to image_tag(p.image.url(:thumb)),
                            {controller: 'products', action: 'show', id: p.id},
                            { } %>
                <h5><%= link_to p.tensp, { controller: 'products', action: 'show', id: p.id } %> <%= p.masp %></h5>
                <p class="product-price"><%= p.giaban %></p>
              </div>
              <div class="small-label new-label">New</div>
            </article>
        <% end %>
      </div><!-- End .wrap -->
    </div> <!-- End .smartphone-brand -->

    <!--<div class="cl-both"></div>-->
    <div class="other-brand tablet-brand">
      <div class="title-brand">
        <span class="top-other-brand">
          <% Category.all.where(id: 2).each do |cat| %>
            <%= link_to cat.name %>
          <% end %>
        </span>
        <ul>
          <% Distribute.all.where(category_id: 2).limit(5).each do |distribute| %>
            <li><%= link_to distribute.name, distribute.path %></li>
          <% end %>
        </ul>
      </div><!-- End .title-brand -->

      <div class="wrap">
        <% Product.all.where(categories_id: 2).limit(5).each do |p| %>
            <article class="products bg-grey">
              <div class="small-label hot-label">Hot</div>
              <span class="cl-both"></span>
              <div>
                <%= link_to image_tag(p.image.url(:thumb)),
                            {controller: 'products', action: 'show', id: p.id},
                            { } %>
                <h5><%= link_to p.tensp, { controller: 'products', action: 'show', id: p.id } %> <%= p.masp %></h5>
                <p class="product-price"><%= p.giaban %></p>
              </div>
              <div class="small-label new-label">New</div>
            </article>
        <% end %>
      </div><!-- End .wrap -->
    </div> <!-- End .tablet-brand -->

    <div class="other-brand macbook-brand">
      <div class="title-brand">
        <span class="top-other-brand">
          <% Category.all.where(id: 3).each do |cat| %>
            <%= link_to cat.name %>
          <% end %>
        </span>
        <ul>
          <% Distribute.all.where(category_id: 3).limit(5).each do |distribute| %>
              <li><%= link_to distribute.name, distribute.path %></li>
          <% end %>
        </ul>
      </div><!-- End .title-brand -->

      <div class="wrap">
        <% Product.all.where(categories_id: 3).limit(5).each do |p| %>
            <article class="products bg-grey">
              <div class="small-label hot-label">Hot</div>
              <span class="cl-both"></span>
              <div>
                <%= link_to image_tag(p.image.url(:thumb)),
                            {controller: 'products', action: 'show', id: p.id},
                            { } %>
                <h5><%= link_to p.tensp, { controller: 'products', action: 'show', id: p.id } %> <%= p.masp %></h5>
                <p class="product-price"><%= p.giaban %></p>
              </div>
              <div class="small-label new-label">New</div>
            </article>
        <% end %>
      </div><!-- End .wrap -->
    </div> <!-- End .macbook-brand -->

    <div class="other-brand accessories-brand">
      <div class="title-brand">
        <span class="top-other-brand">
          <% Category.all.where(id: 4).each do |cat| %>
            <%= link_to cat.name %>
          <% end %>
        </span>
        <ul>
          <% Distribute.all.where(category_id: 4).limit(5).each do |distribute| %>
              <li><%= link_to distribute.name, distribute.path %></li>
          <% end %>
        </ul>
      </div><!-- End .title-brand -->

      <div class="wrap">
        <% Product.all.where(categories_id: 4).limit(5).each do |p| %>
            <article class="products bg-grey">
              <div class="small-label hot-label">Hot</div>
              <span class="cl-both"></span>
              <div>
                <%= link_to image_tag(p.image.url(:thumb)),
                            {controller: 'products', action: 'show', id: p.id},
                            { } %>
                <h5><%= link_to p.tensp, { controller: 'products', action: 'show', id: p.id } %> <%= p.masp %></h5>
                <p class="product-price"><%= p.giaban %></p>
              </div>
              <div class="small-label new-label">New</div>
            </article>
        <% end %>
      </div><!-- End .wrap -->
    </div> <!-- End .accessories-brand -->

    <div class="other-brand secondhand-brand">
      <div class="title-brand">
        <span class="top-other-brand">
          <% Category.all.where(id: 5).each do |cat| %>
            <%= link_to cat.name %>
          <% end %>
        </span>
        <ul>
          <% Category.all.limit(3).each do |cat| %>
            <li><%= link_to cat.name, root_path %></li>
          <% end %>
        </ul>
      </div><!-- End .title-brand -->

      <div class="wrap">
        <% Product.all.where(categories_id: 5).limit(5).order(view: :desc).each do |p| %>
        <article class="products bg-grey">
          <div class="small-label hot-label">Hot</div>
          <span class="cl-both"></span>
          <div>
            <%= link_to image_tag(p.image.url(:thumb)),
                            {controller: 'products', action: 'show', id: p.id},
                            { } %>
            <h5><%= link_to p.tensp, { controller: 'products', action: 'show', id: p.id } %> <%= p.masp %></h5>
            <p class="product-price"><%= p.giaban %></p>
          </div>
          <div class="small-label new-label">New</div>
        </article>
        <% end %>
      </div><!-- End .wrap -->
    </div> <!-- End .secondhand-brand -->
