<%= form_for @distribute, :html => { :class => "form-horizontal distribute" } do |f| %>

    <% if @distribute.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@distribute.errors.count, "error") %> prohibited this distribute from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @distribute.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="control-group">
      <% Category.all.each do |cat| %>

        <%= f.label cat.name, :class => 'control-label' %>
        <%= f.radio_button :category_id, cat.id %>
    <% end %>
    </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@distribute[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :path, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :path, :class => 'form-control' %>
    </div>
    <%= error_span(@distribute[:path]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            distributes_path, :class => 'btn btn-default' %>

<% end %>
